################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IP3/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/IP3/DesignTimeBuild/.dtbcache.v2
/.vs
/Backend/WhatsInThePhotoAPI/obj
/Backend/WhatsInThePhotoAPI/.vs/WhatsInThePhotoAPI
