body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    overflow-x: hidden;
    background-color: #fffef2;
}

h1 {
    font-family: roboto slab;
    color: #1FC2AF;
}

#open-nav:hover {
    cursor: pointer;
    color: #1FC2AF;
}

nav {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav .nav-title {
    margin: 0;
    padding: 0;
    position: absolute;
}

nav a {
    color: #1FC2AF;
}

nav a:hover {
    color: #055757;
}

.nav-right {
    float: right;
    margin-top: -5px;
}

.nav-center {
    color: #1FC2AF;
    font-size: 24px;
    margin: 25px 0 0 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.nav-center li {
    text-decoration: underline;
}

nav .button-one {
    margin-left: 5px;
}

.leftside-nav .leftside-nav-footer {
    position: absolute;
    padding-bottom: 25px;
    bottom: 0;
}

.button-one {
    background-color: #08ED9B;
    border-color: #08ED9B;
    color: black;
}

.button-one:hover {
    background-color: #07c280;
    border-color: #07c280;
    color: black;
}

.button-two {
    background-color: #17F1D8;
    border: black;
}

.title-center {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.welcome-message {
    margin-top: 5px;
    margin-right: 10px;
    float: left;
}

.leftside-modelnav {
    height: 100%;
    width: 299px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #f7f2df;
    padding-top: 60px;
    transition: 0.7s;
    color: #ffffff;
    margin-left: 72px;
    padding-left: 10px;
    color: black;
}

.leftside-modelnav button {
    margin-top: 10px;
}

.leftside-modelnav h3 {
    margin-top: 15px;
    color: #1FC2AF;
}

input[type="radio"] {
    display: none;
    &:not(:disabled)~label {
        cursor: pointer;
    }
}

.leftside-modelnav label {
    height: 100%;
    width: 97%;
    display: block;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: inset 0 0 3px #464646;
}

input[type="radio"]:checked+label {
    background: #4b4b4b;
    color: white;
    &::after {
        color: hsla(215, 5%, 25%, 1);
    }
}

.prediction-outcome {
    font-size: 50px;
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    width: 70%;
    height: 10%;
    padding: 10px;
}

.middle-box {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 90%;
    padding: 10px;
}

.image-placeholder {
    border: 3px solid #055757;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
}

.model-contents-placeholder {
    border: 3px solid #055757;
    border-radius: 5px;
    width: 600px;
    height: 180px;
    margin: auto;
    margin-bottom: 10px;
}

.model-contents-placeholder .content-image-placeholder {
    border: 3px solid #055757;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    margin: 20px;
    box-shadow: 10px 10px 30px grey;
    display: inline-block;
}

.middle-box .button-one {
    margin: 30px 60px 0 60px;
}

.home-display {
    margin-left: 8%;
    width: 60%;
    height: 90%;
}