html {
    background-color: #055757;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white
}

h1 {
    font-family: roboto slab;
    color: #1FC2AF;
}

.button-one {
    background-color: #08ED9B;
}

.button-two {
    background-color: #17F1D8;
}